snippet vdestr
	virtual ~${1:destrname}() = default;

snippet interface
	class ${1:classname}
	{
		public:
			virtual ~${1:classname}() = default;
			${1:classname}(${2:args})
			{ 
				
			}

		protected:

		private:

	};

snippet class
	class ${1:classname}
	{
		public:
			${1:classname}(${2:args})
			{ 
				
			}

		protected:

		private:

	};

snippet func
	${1:rettype} ${2:funcname}(${3:args})
	{
		
	}


snippet constr
	${1:funcname}(${2:args})
	{
		
	}

